.g-sign-btn{
  background-color: #EFF7FF;
  cursor: pointer;
}
.g-sign-logo{
   margin-left: 7%;
}
.user_review_grid{
  display: grid;
  grid-template-columns: 20% 80%;
}
.horizontal_separator_flex{
  display: grid;
  grid-template-columns:47.5% 5% 47.5%;
}
.auto-scroll{
  animation: marquee 10s linear;
}
.animate__fadeInRight{
  -webkit-animation-name:fadeInRight;
  animation-name:fadeInRight;
  animation-duration: 2s;
  z-index: -1;
}

@keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
  
  
  