@property --pgPercentage {
    syntax: '<string>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 3.5rem;
    --fg: #00BC1E;
    --bg: #def;
    --pgPercentage: var(--value);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: #626262;
  }