input[type=radio] {
    border: 1px solid #D2D2D2;
    padding: 0.5em;
    border-radius: 5px;
    -webkit-appearance: none;
  }
  input[type=radio]:checked {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAoSURBVHgB1YqxDQAABMDK/z/yCQYzVk2adCiAlTFo0jGiHHg9+fJ4AvONC4ak6sjBAAAAAElFTkSuQmCC') no-repeat center center;
    border: 1px solid #000000;
    background-size: 9px 9px;
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }
  
  